.hero-unit {
     padding: 0px;
     margin: 5px;
     
} 
.sub-hero-unit {
     background :url("../img/publicis-office.jpg");
     background-size: cover;
     padding-top: 5px;
     width : 100%;
     padding-bottom: 800px;
}
.sub-hero-unit h1{
    color: #800000;
}
.sub-hero-unit p{
    color: #c71585;
}